.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 90vh;
}

@media (max-width: 550px) {
    .signup-wrapper {
        width: 70%;
    }
}