.input-wrapper {
    margin-bottom: 0.5rem;
}

.label-input {
    text-transform: capitalize;
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 700;

}

.custom-input {
    border-width: 0;
    border-bottom-width: 1px;
    width: 100%;
    padding-bottom: 0.5rem;
    font-size: 1rem;
    opacity: 0.8;
    transition: ease 0.3s;
}

.custom-input:focus {
    opacity: 1;
    outline: none;
    padding: 0.7rem 0;
    font-size: 1.2rem;
    transition: ease 0.3s;
    border-bottom: 1px solid var(--theme);
}

.custom-input::placeholder {
    color: #aaa;
}