.button {
    /* min-width: 150px; */
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin: 1rem auto;
    font-size: 1rem;
    font-weight: 900;
    background-color: var(--white);
    color: var(--theme);
    box-shadow: 0px 0px 5px 2px white;
    border: 1px solid var(--theme);
    border-radius: 0.8rem;
    cursor: pointer;
    display: flex !important;
    align-items: center;
    justify-content: center;
    height: auto;
    overflow: hidden;
}

.button:hover {
    background-color: var(--theme);
    color: var(--white);
    transition: ease 0.3s;
}

.buttonBlue {
    background-color: var(--theme);
    color: var(--white);
    border: 1px solid var(--theme);

}

.buttonBlue:hover {
    background-color: var(--white);
    color: var(--theme);
    transition: ease 0.3s;
}

@media (max-width: 550px) {
    .button {
        min-height: 83px;
    }

}